{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


</head>
<body style="background-image: url('../static/images/blur-hospital.jpg');">

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Sign IN</h2>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" required="required" placeholder="Your Email"/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-input" name="password" required="required" id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" id="submitBut" class="form-submit" value="Sign In" />
                        </div>
                    </form>

                    {% for message in messages %}
                        <p id="messages"  style="color:#ff0000">{{message}}</p>
                    {% endfor %}
<!--                    <p class="loginhere">-->
<!--                        Have already an account ? <a href="" class="loginhere-link">Signup here</a>-->
<!--                    </p>-->
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

<script>
        $(document).ready(function(){
         $("#signup-form").submit(function(e){

                            e.preventDefault();


             $.ajaxSetup({
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            });
                $.ajax({
                        type : 'POST', // http method
                        url : "{% url 'login_p_api' %}",
                        data : {
                            email: $('#email').val(),
                            password: $('#password').val()
                        },
                        // handle a successful response
                        success : function(resp) {
                            if (resp["status"] == 200){
                                 window.location.href = "{% url 'home' %}";
                            }

                            else{
                                window.location.href = "{% url 'login_p' %}";
                            }

                        },
                        error: function (response) {
                            // alert the error if any error occured
                                alert("Please Enter correct email or password");
                            }

            });
    });
 });




    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>