{% extends 'baseContainer2.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
  <a class="navbar-brand" href="{% url 'welcome' %}">Online Clinic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
<!--      <li class="nav-item active">-->
<!--		  <h6 style="color:#128496">Dr.{{ doctor.first_name }}</h6>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--      </li>-->
    </ul>
    <span class="navbar-text">
<!--		<h6 align="center" style="color:#128496"> Dr.{{ doctor.first_name }}</h6>-->
	  	<button class="btn btn-outline-info my-2 my-sm-0" type="submit"><a style="text-decoration:none" href="{% url 'logout_p' %}" class="link-info">Logout</a></button>

  </span>
</nav>
    <h1 align="center" style="color:#128496">Welcome {{ patient.first_name|title }}</h1>
<!--    <center><span><a href="{% url 'logout_p' %}">Logout</a></span></center>-->
        <hr>

            <div>
                {% for n in notices %}
                <form method="post" action="{% url 'deleteNoticeByPt' n.id %}">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{n.content}}</strong>
                      <input type="submit" class="close" value="x" data-dismiss="alert" aria-label="Close">
                    </div>
                </form>
                {% endfor %}
            </div>
<div class="row" style="padding:30px;" align="center">

  <div class="col-md " style="padding: 20px 75px 20px 75px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Number of Appointments</h5>
        <h2 class="card-text">{{count}}</h2>
      </div>
    </div>
  </div>
  <div class="col-md " style="padding: 20px 75px 20px 75px;">
    <div class="card bg-info">
      <div class="card-body">
        <h5 class="card-title" style="color:white">Consulted Appointments</h5>
        <h2 class="card-text" style="color:white">{{countConsulted}}</h2>
      </div>
    </div>
  </div>
</div>
    <div class="column no-gutters" align="center">
        <div class="col-md-7">

            <h5>Your Appointments List</h5>

            <div class="card card-body" style="box-shadow: 0 8px 8px #CCCCCC;">
                <a class="btn btn-info btn-sm btn-block" href="{% url 'appointment_d' %}">Take an Appointment</a>
                <table class="table table-sm">
                    <tr align="center">
                        <th>Day</th>
                        <th>From Hour</th>
                        <th>To Hour</th>
                        <th>Doctor Name</th>
						<th colspan="2">Action</th>
                    </tr>
                    {% for a in appointments %}
                                <tr align="center">
                                    <td>{{ a.day }}</td>
                                    <td>{{ a.from_hour }}</td>
                                    <td>{{ a.to_hour }}</td>
                                    <td>{{a.doctor.user.first_name|title|add:" "|add:a.doctor.user.last_name|title}}</td>

                                    {% if a.checkPrescription %}
									    <td><a class="btn btn-info btn-sm btn-block" href="{% url 'details' a.id %}">view details</a></td>
                                    {% else %}
									    <td class="text-danger">pending</td>
                                    {% endif %}

                                    <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'deleteByPat' a.id %}">cancel</a></td>

                                </tr>
                    {% endfor%}

                </table>
            </div>
        </div>
       </div>
{% endblock %}
